.DesktopIconGrid {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(10, 0.5fr);
  grid-template-rows: repeat(10, 0.5fr);
  margin: 0 20px;
  width: 100vw;
  height: calc(100vh - 105px);
  pointer-events: none;

  .DesktopIconWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin: 15px 0;
    margin-right: 7px;
    height: auto;
    line-height: 1.4;
    text-align: center;
    pointer-events: auto;

    .DesktopIcon {
      padding: 10px 8px;
      border-radius: 6px;

      img {
        display: block;
        // box-shadow: 0px 0 5px #000000;
      }
    }

    .DesktopIconName {
      border-radius: 4px;
      padding: 1px 5px;
      margin-top: 5px;
      font-size: 13.5px;
      color: #e2e2e2;
      text-shadow: 0px 0 5px #000000;
      text-align: center;

      p {
        margin: 0;
      }
    }

    &.active {
      .DesktopIcon {
        background-color: transparentize(#202020, 0.3);
        outline: 2.5px solid transparentize(#e2e2e2, 0.7);
      }

      .DesktopIconName {
        background-color: #2563eb;
      }
    }
  }
}
