$bgcolor: #20202395;
$fgcolor: #fff;

.Header {
  position: relative;
  top: -50px;
  z-index: 2;
  display: flex;
  background: $bgcolor;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 3px 4px;
  transition: all ease 0.3s;
  margin: 5px auto;
  border-radius: 999px;

  &.active {
    top: 0;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  * {
    margin: 0;
  }

  .default {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 11.5px;
    color: $fgcolor;
    transition: all ease 0.3s;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    .Header-left {
      display: flex;
    }

    .Header-right {
      display: flex;
      align-items: center;
    }

    .Header-item {
      padding: 3px 10px;
      background: transparent;
      width: fit-content;
      border-radius: 999px;
      transition: ease 0.05s;
      display: flex;
      align-items: center;

      &.active {
        background: #ffffff10;
      }

      i {
        pointer-events: none;
      }
    }

    .Header-item:active {
      background: #ffffff10;
    }

    .Task {
      display: flex;
      align-items: center;
      i {
        margin: 0 5px;
      }
    }

    .BatteryStatus {
      background: #3795ff;
      border-radius: 9999px;
      padding: 4px 16px;
      margin: 0 5px;
      margin-left: 0;
      display: flex;
      align-items: center;

      &.low-battery {
        background: #e46a6a;
      }

      .BatteryStatusLevel {
        color: #202020;
        font-size: 14px;

        &.in-charge::before {
          content: "\f0e7";
          font-family: "Font Awesome 6 Pro";
          color: #202020;
          font-size: 12px;
          margin-right: 5px;
        }
      }
    }
  }

  .Icon {
    display: flex;
    align-items: center;
    padding: 4px 0;
    color: $fgcolor;
  }

  .Text {
    padding: 4px 0;
    color: $fgcolor;
    font-size: 14px;
  }

  .notifications {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: $fgcolor;
    padding: 3px 20px;
    width: 98%;
    transition: all ease 0.3s;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .lowbattery {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: $fgcolor;
    padding: 3px 20px;
    width: 98%;
    transition: all ease 0.3s;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    .LowBatteryText {
      display: flex;
      align-items: center;
      padding: 4px 0;
    }

    .BatteryLevel {
      padding: 4px 0;

      .BatteryLevelText {
        color: #e46a6a;
        font-size: 14px;
      }
    }
  }

  .charging {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: $fgcolor;
    padding: 3px 20px;
    width: 99%;
    transition: all ease 0.3s;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    .ChargingText {
      display: flex;
      align-items: center;
      padding: 4px 0;
    }

    .BatteryLevel {
      padding: 4px 0;

      .BatteryLevelText {
        color: #6ae4a9;
        font-size: 14px;

        &::before {
          content: "\f0e7";
          font-family: "Font Awesome 6 Pro";
          color: #6ae4a9;
          font-size: 12px;
          margin-right: 5px;
        }
      }
    }
  }

  &.whitesur {
    width: 100% !important;
    margin: 0;
    border-radius: 0;
    padding: 0 15px;

    .default {
      height: 25px;
      .Header-left {
        .AppMenu {
          display: flex;
          align-items: center;
          * {
            list-style: none;
            padding: 0;
            margin: 0;
          }
          ul {
            display: flex;
          }
          li {
            border-radius: 4px;
            padding: 5px 15px;
            font-size: 12.5px;
          }
        }
      }

      .Header-right {
        .Header-item {
          border-radius: 0;
          height: 25px;
          padding: 0 11px;
          transition: all ease 0.25s;

          &.active {
            transition: none;
          }

          i {
            font-size: 12.5px;
          }

          &.disabled {
            i {
              color: transparentize($fgcolor, 0.8);
            }
          }
        }

        .DateNTime {
          transition: none;
          font-size: 12px;
        }
      }

      .Header-item {
        .Apple {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
        }
      }
    }

    .lowbattery,
    .charging {
      width: 100%;
      padding: 3px 50px;
    }
  }
}
