$fgcolor: #e8e8e8;

.StartMenuWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #00000065;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.3s;
  z-index: 3;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .StartMenu {
    width: 80%;
    height: calc(100vh - 65px);
    padding: 12px 0;

    .StartApps {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .StartApp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
        margin-bottom: 40px;

        &:active {
          .StartIcon {
            filter: brightness(60%);
          }
        }

        .StartAppTitle {
          color: $fgcolor;
        }
      }
    }
  }

  .SearchMenu {
    padding: 5px 25px;
    display: flex;
    justify-content: center;

    .SearchInput {
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      border: none;
      background: transparentize($fgcolor, 0.93);
      padding: 10px 20px;
      width: 250px;
      border-radius: 999px;
      color: $fgcolor;
      font-size: 12px;
      transition: all ease 0.3s;

      &:empty::before {
        content: "Search...";
        display: block;
        color: #ffffff50;
      }

      &:focus {
        width: 310px;
      }
    }
  }
}
