.ClockWidget {
  width: 200px;
  height: 200px;
  scale: 0.8;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.3s;

  &.active {
    opacity: 1;
    pointer-events: auto;
    scale: 1;

    .ClockWidgetContainer {
      width: 200px;
      height: 200px;

      * {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .CloseButtonContainer {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: -5px;
    opacity: 0;
    z-index: 1;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }

    .CloseButton {
      width: 32px;
      height: 32px;
      background: #f7f7f7;
      font-size: 16px;
      display: flex;
      border-radius: 999px;
      justify-content: center;
      align-items: center;
      transition: all ease 0.3s;

      &:active {
        background: darken(#f7f7f7, 12%);
        width: 30px;
        height: 30px;
        font-size: 15px;
        transition: none;
      }

      i {
        color: #202023;
      }
    }
  }

  .ClockWidgetContainer {
    position: relative;
    border-radius: 999px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    transition: all ease 0.3s;

    * {
      opacity: 0;
      pointer-events: none;
    }

    .Hour,
    .Min,
    .Sec {
      position: absolute;
      border-radius: 999px;
      opacity: 1;
      transition: opacity ease 0.3s;
      transform-origin: bottom;
      z-index: 10000;
    }

    .Hour {
      width: 10px;
      height: 75px;
      top: 25px;
      left: 93px;
    }

    .Min {
      width: 10px;
      height: 90px;
      top: 10px;
      left: 47%;
    }

    .Sec {
      &.active {
        display: block;
      }
      display: none;
      width: 10px;
      height: 95px;
      top: 7px;
      left: 46%;
    }

    .Time {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity ease 0.3s;
    }

    .Number {
      font-weight: 800;
      text-align: center;
      letter-spacing: -3px;
      position: absolute;
      font-size: 115px;
      letter-spacing: -15px;
      transition: all ease 0.3s;

      &.twelve {
        top: -45px;
        left: 39px;

        &::before {
          content: "12";
        }
      }

      &.three {
        right: 0;
        top: 40px;

        &::before {
          content: "3";
        }
      }

      &.six {
        bottom: -50px;
        left: 64px;

        &::before {
          content: "6";
        }
      }

      &.nine {
        left: -8px;
        top: 40px;

        &::before {
          content: "9";
        }
      }
    }
  }

  &.default {
    .ClockWidgetContainer {
      background: #bfdbfe;
      outline: 0px solid transparent;

      .Hour,
      .Min,
      .Sec {
        background: #09090b;
      }

      .Number {
        color: darken(#93c5fd, 10%);
      }
    }
  }

  &.latte {
    .ClockWidgetContainer {
      background: #fed7aa;
      outline: 0px solid transparent;

      .Hour,
      .Min,
      .Sec {
        background: #09090b;
      }

      .Number {
        &.twelve {
          color: darken(#fed7aa, 10%);
        }

        &.three {
          color: lighten(#fed7aa, 10%);
        }

        &.six {
          color: darken(#fed7aa, 22%);
        }

        &.nine {
          color: darken(#fed7aa, 70%);
        }
      }
    }
  }

  &.nautilus {
    .ClockWidgetContainer {
      background: #171717;
      outline: 4px solid #facc15;
      width: 330px;
      height: 135px;

      .Hour,
      .Min,
      .Sec {
        opacity: 0;
      }

      .Time {
        opacity: 1;
        color: #facc15;
        font-size: 65px;
        letter-spacing: -2px;

        span {
          font-family: JetBrains Mono;
          font-weight: 100;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
        }

        .TimeSeparator {
          width: 1px;
          height: 60px;
          background-color: #facc1520;
          margin: 0 18px;
        }

        .TimeSec {
          font-size: 25px;
          margin-left: 15px;
          letter-spacing: -1px;
        }
      }

      .Number {
        color: #facc1507;
        font-size: 170px;
        letter-spacing: -25px;

        &.twelve {
          top: -115px;
          left: 65px;
        }

        &.three {
          right: -15px;
          top: -40px;
        }

        &.six {
          top: 35px;
          left: 105px;
        }

        &.nine {
          left: -40px;
          top: -40px;
        }
      }
    }
  }

  &.classic {
    .ClockWidgetContainer {
      background: #fafafa;
      outline: 0px solid transparent;

      .Hour,
      .Min,
      .Sec {
        background: #09090b;
        width: 7px;
      }

      .Sec {
        background-color: #ef4444;
      }

      .Number {
        color: #09090b25;
        font-family: Regattia Stencil;
        letter-spacing: -5px;

        &.active {
          color: #09090b;
        }

        &.three {
          right: -5px;
        }

        &.six {
          right: 65px;
        }
      }
    }
  }

  &.darkclassic {
    .ClockWidgetContainer {
      background: #0a0a0a;
      outline: 0px solid transparent;

      .Hour,
      .Min,
      .Sec {
        background: #fafafa;
        width: 7px;
      }

      .Sec {
        background-color: #ef4444;
      }

      .Number {
        color: #fafafa25;
        font-family: Regattia Stencil;
        letter-spacing: -5px;

        &.active {
          color: #fafafa;
        }

        &.three {
          right: -5px;
        }

        &.six {
          right: 65px;
        }
      }
    }
  }
}
