@font-face {
  font-family: Ginto Nord;
  font-weight: 300;
  src: url(../assets/fonts/main/Ginto-Nord-Light.woff2) format("woff2");
}

@font-face {
  font-family: Ginto Nord;
  font-weight: 400;
  src: url(../assets/fonts/main/Ginto-Nord-Regular.woff2) format("woff2");
}

@font-face {
  font-family: Ginto Nord;
  font-weight: 500;
  src: url(../assets/fonts/main/Ginto-Nord-Medium.woff2) format("woff2");
}

@font-face {
  font-family: Ginto Nord;
  font-weight: 600;
  src: url(../assets/fonts/main/Ginto-Nord-Bold.woff2) format("woff2");
}

@font-face {
  font-family: Ginto Nord;
  font-weight: 700;
  src: url(../assets/fonts/main/Ginto-Nord-Black.woff2) format("woff2");
}
