@import "tailwindcss";
@plugin "daisyui";
@import "./ginto.css" layer(utilities);
@import "./ginto-nord.css" layer(utilities);
@import "./theme.css" layer(components);

@theme {
  --scale-80: 0.8;
  --scale-97: 0.97;
  --scale-99: 0.99;
  --font-default:
    Ginto Variable, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-ginto-nord:
    Ginto Nord, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-ginto-default:
    Ginto, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

@layer base {
  *,
  ::after,
  ::before {
    font-family: var(--font-default);
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    width: 0;
    background-color: transparent;
  }

  [contenteditable],
  input {
    background: transparent;
    resize: none;
    border: none;
    outline: none;
    appearance: none;
    user-select: text;
    -webkit-user-select: text;
  }

  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  button {
    display: block;
    cursor: pointer;
  }
}
