$bgcolor: #202023e5;
$fgcolor: #e2e2e2;

.Window {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 0 15px 0 transparentize($bgcolor, 0.2);
  overflow: hidden;
  z-index: 1;
  scale: 0.92;
  opacity: 0;
  pointer-events: none;
  transition: top ease 0.3s, scale ease 0.3s, opacity ease 0.3s, width ease 0.3s,
    height ease 0.3s;

  * {
    transition: scale ease 0.3s, opacity ease 0.3s, width ease 0.3s,
      height ease 0.3s;
  }

  &.active {
    scale: 1;
    opacity: 1;
    pointer-events: auto;
  }

  &.hide {
    top: 30%;
    scale: 0.9;
    opacity: 0 !important;
    pointer-events: none;
  }

  &.untouchable {
    * {
      pointer-events: none;
    }
  }

  .TopBar {
    background: $bgcolor;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 7px 10px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
    z-index: 1;

    .TopBarInteractionContainer {
      display: flex;

      .TopBarInteraction {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
        border-radius: 9999px;
        width: 20px;
        height: 20px;
        font-size: 11px;
        color: $fgcolor;
        transition: all ease 0.3s;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          background: #3b3b3f;
        }

        &.close:hover {
          background: #ff5252;
        }
      }
    }

    .TopBarTitle {
      color: $fgcolor;
      font-size: 12px;
      margin: 0;
      width: 100%;
    }

    &.whitesur {
      background: #202023;
      padding-left: 12px !important;
      padding-right: 12px !important;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 0.5px solid lighten(#202023, 25%);
      border-bottom: none;

      .TopBarInteractionContainer {
        .TopBarInteraction {
          width: 13px;
          height: 13px;
          color: $bgcolor;
          font-size: 8px;
          margin-left: 8px;
          transition: none;

          i {
            display: none;
          }

          &.hide {
            background: #febb2e;

            &:active {
              background: lighten(#febb2e, 20%);
            }

            &:hover {
              i {
                display: block;
              }
            }
          }

          &.max,
          &.min {
            background: #28c840;

            &:active {
              background: lighten(#28c840, 20%);
            }

            &:hover {
              i {
                display: block;
              }
            }
          }

          &.close {
            background: #ff5e57;

            &:active {
              background: lighten(#ff5e57, 20%);
            }

            &:hover {
              i {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .WindowBody {
    height: calc(100vh - 140px);

    & > * {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.whitesur {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 0.5px solid lighten(#202023, 25%);
      border-top: none;
    }
  }

  .WindowBodyDefault {
    background: $bgcolor;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 10px 15px;
    color: $fgcolor;

    * {
      margin: 0;
    }

    .WindowBodyIcon {
      width: 32px;
      height: 32px;
    }

    .WindowBodyRight {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .WindowBodyTitle {
        font-size: 18px;
        font-weight: 700;
      }

      .WindowBodyContent {
        font-size: 12.5px;
      }
    }

    &.whitesur {
      background: #202023;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 0.5px solid lighten(#202023, 25%);
      border-top: none;
    }
  }

  .WindowBodyButton {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 0;
    margin-bottom: 0;

    .Button {
      border: none;
      outline: none;
      background: #ffffff10;
      color: $fgcolor;
      font-size: 12.5px;
      padding: 7px 18px;
      border-radius: 5px;
      margin-left: 6px;

      &:hover {
        background: #ffffff20;
      }
    }
  }
}

.WindowDefaultContainer {
  .Window {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

.lightMode {
  .TopBar {
    background: $fgcolor;
    .TopBarInteractionContainer .TopBarInteraction {
      color: $bgcolor;
      &:hover {
        background: #c9c9d3;
      }
    }
    .TopBarTitle {
      color: $bgcolor;
    }

    &.whitesur {
      background: $fgcolor;
      border: 0.5px solid lighten(#202023, 5%);
      border-bottom: none;
    }
  }

  .WindowBody {
    &.whitesur {
      border: 0.5px solid lighten(#202023, 5%);
      border-top: none;
    }
  }

  .WindowBodyDefault {
    background: $fgcolor;
    color: $bgcolor;

    .WindowBodyButton .Button {
      background: #00000010;
      color: $bgcolor;

      &:hover {
        background: #00000020;
      }
    }

    &.whitesur {
      background: $fgcolor;
      border: 0.5px solid lighten(#202023, 5%);
      border-top: none;
    }
  }
}

.animdisabled {
  .Window {
    scale: 1;
    transition: opacity ease 0.3s;

    &.hide {
      top: 0;
      opacity: 0 !important;
      pointer-events: none;
    }
  }
}
