$bgcolor: #202023e5;
$fgcolor: #e2e2e2;

.CalendarWindow {
  .Window .TopBar {
    .TopBarInteractionContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .TopBarTitle {
      width: auto;
    }
  }

  .calendar {
    width: 100vw;
    height: 100%;

    &.minimize {
      width: 1000px;
      height: 600px;
    }

    .TabBarWrapper {
      margin: 0 10px;
      width: 100%;

      .TabBar {
        display: flex;
        justify-content: center;

        .TabBarItem {
          color: #fff;
          display: flex;
          align-items: center;
          font-size: 11.5px;

          * {
            margin: 0;
          }

          .TabSeparator {
            background: #ffffff1e;
            width: 1px;
          }

          .TabBarInteraction {
            display: flex;

            i {
              margin-right: 3px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 999px;
              height: 20px;
              width: 20px;
              transition: all ease 0.3s;

              &:hover {
                background: #ffffff1e;
              }

              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .Calendar {
    background: $bgcolor;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    color: $fgcolor;
    display: flex;
    flex-direction: column;
    padding-right: 40px;

    * {
      margin: 0;
    }

    .CalendarHeader {
      width: 100%;
      display: flex;
      padding: 15px 0;
      justify-content: space-between;

      .WeekCell {
        width: 12.5%;

        p {
          height: 30px;
        }
      }
    }

    .CalendarDate {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .CalendarDateCell {
        padding: 10px;
        padding-right: 0;
        width: 14%;

        p {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 999px;
          float: right;

          &:hover {
            background: transparentize($fgcolor, 0.95);
          }

          &.fade {
            color: transparentize($fgcolor, 0.83);
          }

          &.today {
            background: $fgcolor;
            color: $bgcolor;
            font-weight: 700;
          }
        }
      }
    }

    &.whitesur {
      background: #202023;
      .CalendarDate {
        .CalendarDateCell {
          p {
            &:hover {
              background: inherit;
            }

            &.today {
              background: #ff453a;
            }
          }
        }
      }
    }
  }
}

.lightMode {
  .calendar {
    .TabBarWrapper .TabBar {
      .TabBarItem {
        color: #000;

        &:hover {
          .CloseButton {
            &:hover {
              background: #00000010;
            }
          }
        }

        .TabBarInteraction i:hover {
          background: #0000001e;
        }
      }
    }
  }

  .Calendar {
    background: $fgcolor;
    color: $bgcolor;

    .CalendarDate {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .CalendarDateCell p {
        &.fade {
          color: transparentize($bgcolor, 0.75);
        }

        &.today {
          background: $bgcolor;
          color: $fgcolor;
        }
      }
    }

    &.whitesur {
      background: $fgcolor;
    }
  }
}
