$bgcolor: #202023e5;
$fgcolor: #e2e2e2;

.CameraWindow {
  .Window .TopBar {
    padding: 4px 8px;
    justify-content: space-between;
    .TopBarInteractionContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .TopBarTitle {
      width: auto;
    }
  }

  .camera {
    width: 80vw;
    height: 100%;

    &.minimize {
      width: 60vw;
      height: 90%;
    }

    .ImageInformationWrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: none;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }

      .ImageInformation {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        z-index: 10000;
        width: 400px;
        box-shadow: 0px 0 20px #00000089;

        .WindowTopBar {
          background: $bgcolor;
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px);
          padding: 7px 10px;
          display: flex;
          align-items: center;
          transition: all ease 0.3s;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          .WindowTopBarTitle {
            color: $fgcolor;
            font-size: 12px;
            margin: 0;
            width: 100%;
          }

          .WindowTopBarInteractionContainer {
            display: flex;

            .WindowTopBarInteraction {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 7px;
              border-radius: 9999px;
              width: 20px;
              height: 20px;
              font-size: 11px;
              color: $fgcolor;

              &:hover {
                background: #3b3b3f;
              }

              &.close:hover {
                background: #ff5252;
              }
            }
          }
        }

        .WindowBodyDefault {
          background: $bgcolor;
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 10px 15px;
          color: $fgcolor;
        }
      }
    }

    .ImageInformationWrapper {
      background-color: transparentize($bgcolor, 0.2);
      transition: all ease 0.2s;

      .ImageInformation {
        .WindowBodyContent {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 2;
          font-size: 14px;
          padding: 10px 0;

          .ImageTitle {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 25px;
          }
        }
      }
    }

    .TabBarWrapper {
      margin: 0 10px;
      margin-right: 0;

      .TabBar {
        display: flex;

        .TabBarItem {
          padding: 4px 9px;
          color: #fff;
          display: flex;
          align-items: center;
          font-size: 11px;

          * {
            margin: 0;
          }

          .TabSeparator {
            background: #ffffff1e;
            width: 1px;
          }

          .TabBarInteraction {
            display: flex;
            margin-right: 5px;

            i {
              margin-right: 3px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 999px;
              height: 20px;
              width: 20px;

              &:hover {
                background: #ffffff1e;
              }

              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .Camera {
    background: $bgcolor;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 100%;
    color: $fgcolor;

    * {
      margin: 0;
    }

    &.blankscr {
      .CameraVideo * {
        opacity: 0;
        pointer-events: none;
      }
    }

    .CameraViewMedia {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .NoMedia {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 70px);
        color: transparentize($fgcolor, 0.8);
        font-size: 25px;
      }

      .CameraMediaImg {
        display: flex;
        justify-content: center;
        margin: 20px;
        height: calc(100% - 70px);

        img {
          width: 600px;
          height: 450px;
          margin-bottom: auto;
          margin-top: auto;
        }
      }

      .CameraButton {
        padding: 8px 15px;
        border-radius: 999px;
        display: flex;
        font-size: 12px;
        transition: none;
        margin-right: 5px;

        * {
          transition: none;
        }

        &:hover {
          background: $fgcolor;
          color: $bgcolor;
        }

        &:last-child {
          margin: 0;
        }
      }

      .CameraViewInteraction {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;

        .GoBackBtn {
          width: 30px;
          height: 30px;
          color: $fgcolor;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 999px;
          font-size: 14px;
          transition: all ease 0.1s;

          &:hover {
            background: $fgcolor;
            color: $bgcolor;
          }
        }
      }
    }

    .CameraVideo {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .disableWebcam {
        font-size: 100px;
        color: transparentize($fgcolor, 0.95);
      }

      .CameraRecordTime {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 70px);
        opacity: 0;

        &.active {
          opacity: 1;
        }

        p {
          position: absolute;
          top: 10px;
          background: $bgcolor;
          padding: 7px 12px;
          border-radius: 999px;
          color: $fgcolor;
          font-size: 15px;
          font-weight: 700;
        }

        p::before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 999px;
          margin-right: 7px;
          background: #ff4b4b;
          animation: record ease 1s infinite;
        }

        @keyframes record {
          0% {
            background: #ff4b4b;
          }

          50% {
            background: darken(#ff4b4b, 30%);
          }

          100% {
            background: #ff4b4b;
          }
        }
      }

      .CameraTimer {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: calc(100% - 70px);
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-shadow: 0px 0 20px #000;
          font-size: 200px;
          font-weight: 500;
          animation: timer ease 1s;
        }

        @keyframes timer {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }

      .WebcamDisabled {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .CameraInteraction {
        padding: 0 10px;
        width: 100%;
        position: sticky;
        z-index: 2;
        bottom: 0;
        background: $bgcolor;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.capturing {
          * {
            opacity: 0.3;
            pointer-events: none;
          }
        }

        .CameraAct {
          color: $fgcolor;
          font-size: 25px;
          margin: 0 20px;
        }

        .CameraCapture {
          width: 50px;
          height: 50px;
          border-radius: 999px;
          background: lighten($fgcolor, 5%);
          color: #000;
          font-size: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: none;

          &:active {
            background: darken($fgcolor, 25%);
          }

          &.isRecording {
            background: #ff4b4b;
            color: $fgcolor;
            opacity: 1;

            * {
              opacity: 1;
              pointer-events: auto;
            }
          }
        }

        .CameraCapturedImg {
          width: 95px;
          height: 70px;
          position: relative;
          z-index: 1;
          border: 1px solid transparentize($fgcolor, 0.75);

          img {
            width: 95px;
            height: 70px;
            display: block;
          }
        }
      }
    }
  }
}

.lightMode {
  .camera {
    .PermanentlyDeleteMediaWrapper .PermanentlyDeleteMedia {
      .WindowTopBar {
        background: $fgcolor;

        .WindowTopBarTitle {
          color: $bgcolor;
        }

        .WindowTopBarInteractionContainer .WindowTopBarInteraction {
          color: $bgcolor;

          &:hover {
            background: #3b3b3f;
          }

          &.close:hover {
            background: #ff5252;
          }
        }
      }

      .WindowBodyDefault {
        background: $fgcolor;
        color: $bgcolor;
      }
    }

    .TabBarWrapper .TabBar {
      .TabBarItem {
        color: #000;

        .TabSeparator {
          background: #0000001e;
        }

        &:hover {
          .CloseButton {
            &:hover {
              background: #00000010;
            }
          }
        }

        .TabBarInteraction i:hover {
          background: #0000001e;
        }
      }
    }
  }

  .Camera {
    background: $fgcolor;

    .CameraViewMedia {
      .NoMedia {
        color: transparentize($bgcolor, 0.7);
      }

      .CameraViewInteraction {
        .GoBackBtn {
          color: $bgcolor;

          &:hover {
            background: $bgcolor;
            color: $fgcolor;
          }
        }

        .CameraButton {
          color: $bgcolor;
          &:hover {
            background: $bgcolor;
            color: $fgcolor;
          }
        }
      }
    }
    .CameraVideo {
      .disableWebcam {
        color: transparentize($bgcolor, 0.75);
      }

      .CameraRecordTime {
        p {
          background: $fgcolor;
          color: $bgcolor;
        }
      }

      .CameraInteraction {
        background: $fgcolor;

        .CameraAct {
          color: $bgcolor;
        }

        .CameraCapture {
          background: darken($fgcolor, 5%);
          color: #000;

          &:active {
            background: darken($fgcolor, 25%);
          }

          &.isRecording {
            background: darken($fgcolor, 5%);
            color: #ff4b4b;
          }
        }

        .CameraCapturedImg {
          border: 1px solid transparentize($bgcolor, 0.75);
        }
      }
    }
  }
}
