$bgcolor: #202023e5;
$fgcolor: #e2e2e2;
$actcolor: #60a5fa;

.FilesWindow {
  .Window .TopBar {
    padding: 4px 8px;
    .TopBarInteractionContainer {
      display: flex;
      width: 100vw;
      justify-content: space-between;
      align-items: center;
    }
    .TopBarTitle {
      width: auto;
    }
  }

  .files {
    width: 100vw;
    height: 100%;

    .ActMenu .iconSize .ActMenuSelector {
      &:hover {
        background: transparent;
      }

      .ActMenuInteraction {
        width: 20px;
        height: 20px;
        border-radius: 999px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff12;
        }

        &.disabled {
          color: #ffffff32;
          pointer-events: none;
          &:hover {
            background: transparent;
          }
        }
      }
    }

    .TabBarWrapper {
      margin: 0 10px;
      margin-right: 0;

      .TabBar {
        display: flex;

        .TabBarItem {
          padding: 4px 9px;
          color: #fff;
          display: flex;
          align-items: center;
          font-size: 11px;
          margin-right: 5px;

          * {
            margin: 0;
          }

          .TabSeparator {
            background: #ffffff1e;
            width: 1px;
          }

          .TabBarInteraction {
            display: flex;

            i {
              margin-right: 3px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 999px;
              height: 20px;
              width: 20px;

              &:hover {
                background: #ffffff1e;
              }

              &:last-child {
                margin: 0;
              }
            }
          }
        }

        .TabBarFileSystem {
          display: flex;
          justify-content: space-between;
          width: 600px;
          background: #ffffff0a;
          border-radius: 5px;
        }
      }
    }

    &.minimize {
      width: 1000px;
      height: 600px;
    }
  }

  .Files {
    background: $bgcolor;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 100%;
    color: $fgcolor;

    .FilesSection {
      width: 100%;
      height: 100%;
      display: flex;

      .NavPanel {
        background: transparentize($actcolor, 0.95);
        width: 260px;
        max-height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px 0;
        margin: 7px;
        border-radius: 13px;

        * {
          transition: all ease 0.3s;
        }

        .DropdownMenu {
          display: flex;
          align-items: center;
          color: darken($fgcolor, 10%);
          margin: 7px 0;
          margin-left: 20px;
          font-size: 13px;
          transition: all ease 0.3s;

          i {
            width: 10px;
            display: flex;
            justify-content: center;
          }

          p {
            margin: 0;
            padding: 8px 0 8px 12px;
            border-radius: 999px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
          }

          &:hover {
            color: $actcolor;
          }

          &.active {
            color: $actcolor;
            margin-left: 10px;

            i {
              width: 30px;
            }

            p {
              font-weight: 700;
              background: transparentize($actcolor, 0.87);
            }
          }
        }
      }

      .FilesContainer {
        padding: 0 30px;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .NoFiles {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: transparentize($fgcolor, 0.87);
          font-size: 27px;
        }

        .FilesSection2 {
          box-sizing: border-box;
          width: 100%;
          display: grid;
          padding-bottom: 25px;
          grid-template-columns: repeat(auto-fill, 8.2em);
          justify-content: space-between;
          align-items: flex-end;
          grid-column-gap: 1em;

          .FilesItem {
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            margin-top: 25px;
            margin-bottom: auto;
            margin-right: 7px;
            height: auto;
            border-radius: 10px;
            line-height: 1.4;
            text-align: center;

            img {
              display: block;
            }

            &:hover {
              background: transparentize($fgcolor, 0.93);
            }

            .FilesName {
              font-size: 13px;
              color: $fgcolor;
              margin: 0;
              margin-top: 15px;
            }
          }
        }

        .OtherLocations {
          width: 100%;
          height: 100%;

          .HeaderBar {
            margin-top: 10px;
            padding: 8px 15px;
            font-size: 12.5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 0.5px solid transparentize($fgcolor, 0.8);

            * {
              margin: 0;
            }
          }

          .OtherLocationsItem {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            font-size: 13px;

            * {
              margin: 0;
            }

            &:hover {
              background: transparentize($fgcolor, 0.95);
            }
          }
        }
      }
    }

    &.whitesur {
      background: #202023;

      .FilesSection .NavPanel {
        border-radius: 0;
        background: transparent;

        &:last-child {
          border-bottom: none;
        }

        .DropdownMenu {
          transition: none;
          margin-left: 15px;
          i {
            color: #009dff;
            font-size: 15px;
            width: 15px;
            margin-right: 7px;
          }
          p {
            padding: 7px 8px;
            color: darken($fgcolor, 10%);
            border-radius: 5px;
            font-weight: 300;
          }
          &:hover {
            p {
              background: transparentize($fgcolor, 0.93);
            }
          }

          &.active {
            margin-left: 15px;
            i {
              width: 15px;
              margin-right: 7px;
            }

            p {
              font-weight: inherit;
              background: transparentize($fgcolor, 0.85);
            }

            &:hover {
              p {
                background: transparentize($fgcolor, 0.85);
              }
            }
          }
        }
      }
    }
  }
}

.lightMode {
  .files {
    .ActMenu .iconSize .ActMenuSelector .ActMenuInteraction {
      &:hover {
        background: #00000012;
      }

      &.disabled {
        color: #00000032;
      }
    }

    .TabBarWrapper .TabBar {
      .TabBarItem {
        color: #000;

        .TabSeparator {
          background: #0000001e;
        }

        &:hover {
          .CloseButton {
            &:hover {
              background: #00000010;
            }
          }
        }

        .TabBarInteraction i:hover {
          background: #0000001e;
        }
      }
      .TabBarFileSystem {
        background: #0000000a;
      }
    }
  }

  .Files {
    background: $fgcolor;
    color: $bgcolor;

    .FilesSection .NavPanel {
      background: transparentize($actcolor, 0.85);

      .DropdownMenu {
        color: lighten($bgcolor, 10%);

        &:hover {
          color: $actcolor;
        }
      }
      .DropdownMenu {
        &.active {
          p {
            background: $fgcolor;
          }
        }
      }
    }

    .FilesContainer {
      .NoFiles {
        color: transparentize($bgcolor, 0.73) !important;
      }
      .FilesSection2 .FilesItem {
        &:hover {
          background: transparentize($bgcolor, 0.8) !important;
        }

        .FilesName {
          color: $bgcolor !important;
        }
      }
      .OtherLocations {
        .HeaderBar {
          border-bottom: 0.5px solid transparentize($bgcolor, 0.65) !important;
        }

        .OtherLocationsItem:hover {
          background: transparentize($bgcolor, 0.8) !important;
        }
      }
    }

    &.whitesur {
      background: $fgcolor;

      .FilesSection .NavPanel {
        border-bottom: 0.5px solid transparentize($bgcolor, 0.7);

        .DropdownMenu {
          i {
            color: #009dff;
          }
          p {
            color: lighten($bgcolor, 10%);
          }
          &:hover {
            p {
              background: transparentize($bgcolor, 0.85);
            }
          }

          &.active {
            margin-left: 15px;
            i {
              width: 15px;
              margin-right: 7px;
            }

            p {
              font-weight: inherit;
              background: transparentize($bgcolor, 0.8);
            }

            &:hover {
              p {
                background: transparentize($bgcolor, 0.8);
              }
            }
          }
        }
      }
    }
  }
}
