$bgcolor: #202023e5;
$fgcolor: #e2e2e2;

.VSCodeWindow {
  .vscode {
    width: 100vw;
    height: 100%;

    &.minimize {
      width: 1000px;
      height: 600px;
    }
  }

  .VSCode {
    background: $bgcolor;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 100%;
    color: $fgcolor;
    display: flex;
    flex-direction: column;

    * {
      margin: 0;
    }

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

.lightMode {
  .VSCode {
    background: $fgcolor;
    color: $bgcolor;
  }
}
