$bgcolor: #222222f8;
$fgcolor: #fff;
$fbgcolor: #60a5fa;

.Panel {
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 0;
  background: $bgcolor;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: $fgcolor;
  padding: 7px 8px;
  border-radius: 10px;
  width: 350px;
  justify-content: center;
  transition: all ease 0.15s;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .PanelTypeContainer {
    .defaultPanel {
      display: flex;
      flex-direction: column;
      transition: all ease 0.2s;
      height: fit-content;

      .PanelItem {
        background: transparent;
        height: 36px;
        padding: 10px 15px;
        font-size: 12px;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: lighten($bgcolor, 5%);
        }

        i {
          margin: 0 5px;
          margin-left: 0 !important;
        }

        .PanelBatteryLevel {
          margin: 0;
          padding: 0;
        }

        &.active {
          background: transparentize($fgcolor, 0.93);

          &:hover {
            background: transparentize($fgcolor, 0.88);
          }
        }
      }

      .PanelItemInteraction {
        width: 36px;
        height: 36px;
        padding: 10px 12px;

        i {
          margin: 0;
        }
      }

      .PanelTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      .PanelBottom {
        .PanelContainer {
          display: flex;

          .PanelItemLarge {
            position: relative;
            overflow: hidden;
            background: lighten($bgcolor, 5%);
            padding: 12px 17px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 999px;
            display: flex;
            align-items: center;
            width: 157px;
            height: 44px;
            transition: all ease 0.1s;

            .PanelItemNext {
              position: absolute;
              right: 0;
              height: 43.7px;
              padding: 12px;
              background: lighten($bgcolor, 10%);
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all ease 0.1s;
              * {
                margin: 0;
              }
            }

            &:hover {
              background: lighten($bgcolor, 12%);

              .PanelItemNext {
                background: lighten($bgcolor, 15%);
              }
            }

            i {
              margin: 0 7px;
              margin-left: 0 !important;
              font-size: 14px;
            }

            p {
              font-size: 14px;
              transition: all ease 0.15s;

              &.minimize {
                font-size: 9px;
                transform: translateY(-8px);
              }

              &.PanelItemName {
                position: absolute;
                transform: translate(24px, 5px);
                opacity: 0;

                &.active {
                  opacity: 1;
                }
              }
            }

            &.focused {
              background: $fbgcolor;
              color: #000;

              .PanelItemNext {
                background: lighten($fbgcolor, 5%);
              }

              &:hover {
                background: lighten($fbgcolor, 5%);

                .PanelItemNext {
                  background: lighten($fbgcolor, 10%);
                }
              }
            }
          }
        }
      }

      .PanelRangeContainer {
        margin: 0 10px;
        margin-bottom: 12px;

        .PanelRangeTitle {
          font-size: 12px;
          color: #fff;
          margin: 0;
          margin-bottom: 5px;
        }
      }
    }

    .PanelName {
      font-size: 16px;
      margin-left: 5px;
    }

    .BackButton {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 999px;
      font-size: 14px;

      &:hover {
        background-color: transparentize($fgcolor, 0.92);
      }
    }

    .wifiPanel {
      display: flex;
      flex-direction: column;
      padding: 3px 0;
      opacity: 0;
      pointer-events: none;
      transition: all ease 0.2s;
      height: fit-content;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }

      .PanelItem {
        background: transparent;
        padding: 7px 9px;
        font-size: 12px;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: lighten($bgcolor, 5%);
        }

        i {
          margin: 0 5px;
          margin-left: 0 !important;
        }
      }

      .WifiStatusFalse {
        height: 497px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        i {
          font-size: 60px;
          margin-bottom: 30px;
          color: transparentize($fgcolor, 0.8);
        }

        .Title {
          font-size: 27px;
          margin-bottom: 10px;
        }
      }

      .WifiList {
        display: flex;
        flex-direction: column;
        margin-top: 13px;

        .WifiListItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          border-radius: 999px;
          padding: 12px 20px;
          margin-bottom: 3px;

          &:hover {
            background: transparentize($fgcolor, 0.95);
          }

          .WifiName {
            font-size: 13px;
            font-weight: 300;
          }

          .WifiListIcon {
            display: flex;

            i {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .batteryPanel {
      font-size: 12.5px;
      opacity: 0;
      pointer-events: none;
      transition: all ease 0.25s;

      &.active {
        opacity: 1;
        pointer-events: auto;
        transition: none;
      }

      .BatteryContent {
        width: 332px;

        .BatteryHeader {
          display: flex;
          justify-content: space-between;
          padding: 6px 10px;
          margin-bottom: 3px;
          border-bottom: 0.5px solid transparentize($fgcolor, 0.8);

          .BatteryLevel {
            color: #6ae4a9;

            &.low-battery {
              color: #e46a6a;
            }
          }
        }

        .ActMenuWrapper {
          position: relative;
          .ActMenu {
            background: transparent;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            box-shadow: none;
            transition: none;

            .ActMenuSelector {
              font-size: 12px;
            }
          }
        }
      }
    }

    .bluetoothPanel {
      display: flex;
      flex-direction: column;
      padding: 3px 0;
      opacity: 0;
      pointer-events: none;
      transition: all ease 0.2s;
      height: fit-content;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }

      .PanelItem {
        background: transparent;
        padding: 7px 9px;
        font-size: 12px;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: lighten($bgcolor, 5%);
        }

        i {
          margin: 0 5px;
          margin-left: 0 !important;
        }
      }

      .Description {
        font-size: 12px;
        font-weight: 300;
        color: transparentize($fgcolor, 0.8);
        margin-top: 10px;
      }

      .BluetoothStatusFalse {
        height: 497px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        i {
          font-size: 60px;
          margin-bottom: 30px;
          color: transparentize($fgcolor, 0.8);
        }

        .Title {
          font-size: 27px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &.whitesur {
    right: 329px;
    border: 0.5px solid lighten(#202023, 25%);
    transition: all ease 0.25s;

    &.active {
      transition: height ease 0.15s;
    }

    .PanelTypeContainer {
      .defaultPanel {
        transition: all ease 0.25s;

        &.active {
          transition: none;
        }

        .PanelBottom {
          .PanelContainer {
            .PanelItemLarge {
              border: 0.5px solid lighten(#202023, 25%);
              &.focused {
                background: #009dff;

                .PanelItemNext {
                  background: lighten(#009dff, 10%);
                }

                &:hover {
                  background: lighten(#009dff, 5%);

                  .PanelItemNext {
                    background: lighten(#009dff, 15%);
                  }
                }
              }
            }
          }
        }
      }
      .wifiPanel {
        .WifiList {
          .WifiListItem {
            margin-bottom: 11px;
            border-radius: 5px;
            padding: 8px 20px;

            &:hover {
              background: #007bff;
            }

            .WifiListIcon {
              i {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.lightMode {
  .Panel {
    background: $fgcolor;
    color: $bgcolor;

    .PanelTypeContainer {
      .defaultPanel {
        .PanelItem {
          &:hover {
            background: darken($fgcolor, 5%);
          }
        }

        .PanelRangeContainer {
          .PanelRangeTitle {
            color: $bgcolor;
          }
        }

        .PanelBottom {
          .PanelItemLarge {
            background: darken($fgcolor, 5%);

            .PanelItemNext {
              background: darken($fgcolor, 10%);
            }

            &:hover {
              background: darken($fgcolor, 12%);

              .PanelItemNext {
                background: darken($fgcolor, 15%);
              }
            }
          }
        }
      }

      .wifiPanel {
        .PanelItem {
          &:hover {
            background: darken($fgcolor, 7%);
          }
        }

        .WifiStatusFalse {
          i {
            color: transparentize($bgcolor, 0.8);
          }
        }

        .WifiList {
          .WifiListItem {
            &:hover {
              background: transparentize($bgcolor, 0.93);
            }
          }
        }
      }

      .batteryPanel {
        .BatteryContent {
          .BatteryHeader {
            border-bottom: 0.5px solid transparentize($bgcolor, 0.8);
          }
        }
      }

      .bluetoothPanel {
        .PanelItem {
          &:hover {
            background: darken($fgcolor, 7%);
          }
        }

        .Description {
          color: transparentize($bgcolor, 0.9);
        }

        .BluetoothStatusFalse {
          i {
            color: transparentize($bgcolor, 0.8);
          }
        }
      }
    }

    &.whitesur {
      border: 0.5px solid lighten(#202023, 5%);

      .PanelTypeContainer {
        .wifiPanel {
          .WifiList {
            .WifiListItem {
              &:hover {
                background: #007bff;
                color: $fgcolor;
              }
            }
          }
        }
      }
    }
  }
}
